Package: com.drewbydrew.tutone 
Name: Tutone 
Version: 1.0.0b9.8
Architecture: iphoneos-arm 
Description: Two amazing themes in one. 
Maintainer: Andrew Hocking <andrew.hocking@hotmail.ca> 
Author: Andrew Hocking <andrew.hocking@hotmail.ca> 
Depends: mobilesubstrate 
Section: Themes 
