Package: com.drewbydrew.tutone 
Name: Tutone 
Version: 1.0.0b9.9
Architecture: iphoneos-arm 
Description: Two amazing themes in one. 
Depiction: A gradient theme with over 140 icons, a flat theme with over 140 icons, three icon masks, themed music controls, themed status bar elements, and more to come. http://i.imgur.com/4alVhdM.png 
Maintainer: Andrew Hocking <andrew.hocking@hotmail.ca> 
Author: Andrew Hocking <andrew.hocking@hotmail.ca> 
Depends: mobilesubstrate 
Section: Themes 
